[submodule "SpyInventories"]
	path = SpyInventories
	url = https://github.com/spygamingog/SpyInventories.git
[submodule "SpyNetherPortals"]
	path = SpyNetherPortals
	url = https://github.com/spygamingog/SpyNetherPortals.git
